{%if user%}
<div class='widget' id="user_widget">
    <div class="row">
        <div class="offset1 span4">
            <img data-src="holder.js/80x80" class='img-polaroid'>
        </div>
        <div class="span7">
            <p>{{user.nickname}}</p>
                <span class='span3'>
                <a href='/useraction/followed_users?userid={{user.id}}'>
                    <p>关注</p>
                    <span class="badge badge-info">{{user.following_counter}}</span>

                </a>
                </span>
                <span class='span3'>
                <a href="/useraction/followers?userid={{user.id}}">
                    <p>粉丝</p>
                    <span class="badge badge-info">{{user.follower_counter}}</span>

                </a>
                </span>
                <span class='span3'>
                <a href='/useraction/personal_center'>
                    <p>微博</p>
                    <span class="badge badge-info">{{user.tweet_counter}}</span>
                </a>
                </span>
        </div>
    </div>
</div>
{%else%}
<div class='widget' id="user_widget">
    <div class="row">
        <p class="offset2">为了更好的体验, 请<a href="/login">登入</a>或<a href="/register">注册</a></p>
        
    </div>
</div>
{%endif%}
