<div class='widget' id="user_widget">
    <div class="row">
        <div class="offset1 span4">
            <img data-src="holder.js/80x80" class='img-polaroid'>
        </div>
        <div class="span7">
            <p>{{user.nickname}}</p>
                <span class='span3'>
                <a href=''>
                    <p>关注</p>
                    <span class="badge badge-info">{{user.following_counter}}</span>

                </a href=''>
                </span>
                <span class='span3'>
                <a>
                    <p>粉丝</p>
                    <span class="badge badge-info">{{user.follower_counter}}</span>

                </a>
                </span>
                <span class='span3'>
                <a href=''>
                    <p>微博</p>
                    <span class="badge badge-info">{{user.tweet_counter}}</span>

                </a>
                </span>
        </div>
    </div>

</div>