{%extends 'base.html'%}

{%block singlepage%}
<div class="offset1 span10">
    <div id="message_center">
      <div id="legend">
        <legend class="">消息中心</legend>
      </div>
      
      <div class="offset1 span10">
        <div id="legend">
          <legend class="">通知 ({{user.notify_counter}})</legend>
        </div>
        <ul class="">
          {%for notify in user.get_notify_messages()%}
            <li><button class="close" onclick="read_notify('{{notify.id}}')">&times;</button> {{notify.content}}</li>
          {%endfor%}
        </ul>
        
        
        
        <div id="legend">
          <legend class="">私信({{user.private_counter}})</legend>
        </div>
      </div>
    </div>




</div>
{%endblock%}