{%extends 'base.html'%}

{%block singlepage%}
<div class="offset1 span10">
    <div id="message_center">
      <div id="legend">
        <legend class="">消息中心</legend>
      </div>
      
      <div class="offset1 span10">
        <div id="legend">
          <legend class="">通知 ({{user.notify_counter}})</legend>
        </div>
        <ul class="">
          <li>挺好isi</li>
          <li>挺好isi</li>
        
        </ul>
        
        
        
        <div id="legend">
          <legend class="">私信({{user.notify_counter}})</legend>
        </div>
      </div>
    </div>




</div>
{%endblock%}