{%extends 'base.html'%}

{%block singlepage%}
<div class="offset1 span10">
    <div id="personal_info">
    {%if theuser == user%}
      <div id="legend">
        <legend class="">个人中心</legend>
      </div>
    {%endif%}
      <div class="row-fluid">
      <div class="span2">
            <img src="{{theuser.avatar}}" class='img-polaroid' width=80 >
            <br />
            <br />
            <a href="/useraction/followed_users?userid={{theuser.id}}">关注
              <span class="badge badge-info">{{theuser.following_counter}}</span>
            </a> <br />
            <a href="/useraction/followers?userid={{theuser.id}}">粉丝
              <span class="badge badge-info">{{theuser.follower_counter}}</span>
            </a> <br />
            <a href="/personal_center/{{theuser.id}}">微博
              <span class="badge badge-info">{{theuser.tweet_counter}}</span>
            </a><br />
            {%if user and user.can_send_pm_to_user(theuser)%}
             <a href='#_private_message_input' data-toggle="modal" onclick="pm_invoke('{{theuser.id}}')">
              发送私信
             </a><br />
            {%endif%}
            {%if user%}
              {%if user.is_following(theuser.id)%}
              <button class='btn btn-link follow-btn' onclick="toggle_follow('{{theuser.id}}',this)">取消关注</button>
              {%else%}
              <button class='btn btn-link follow-btn' onclick="toggle_follow('{{theuser.id}}',this)">关注一下</button>
              {%endif%}
            {%endif%}
            
            
      </div>

      <div class="span10">
        <table class="table">
            <tbody>
              <tr>
                <td class="span2"><label class="pull-right">昵称:</label></td>
                <td style="border-right: 1px solid #ececec;">{{theuser.nickname or "尚未填写"}}</td>
                <td class="span2"><label class="pull-right">创建时间:</label></td>
                <td>{{theuser.create_date|timesince}}</td>
              </tr>

              <tr>
                <td><label class="pull-right">性别:</label></td>
                <td style="border-right: 1px solid #ececec;">{{theuser.gender or "尚未填写"}}</td>
                <td><label class="pull-right">博客地址:</label></td>
                <td><a href="{{theuser.blog or '#'}}">{{theuser.blog  or "尚未填写"}}</a></td>
              </tr>
              <tr>
                <td><label class="pull-right">大学:</label></td>
                <td style="border-right: 1px solid #ececec;">{{theuser.university or "尚未填写"}}</td>
                <td><label class="pull-right">生日:</label></td>
                <td>{{theuser.birthday or "尚未填写"}}</td>
              </tr>
              <tr>
                <td><label class="pull-right">地址:</label></td>
                <td colspan="3" >{{theuser.addr or "尚未填写"}}</td>
              </tr>
              <tr>
                <td><label class="pull-right">个性签名:</label></td>
                <td colspan="3">{{theuser.slogan or "尚未填写"}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div><!--end of personal_info -->
    
    
    <div id='weibo_list'>
    {%set floor=1%}
    {%for tweet in tweets%}
        {%include 'include/show_tweet.html'%}
        {%set floor=floor+1%}
    {%endfor%}
    {%if tweets|length >=15%}
    <a class="btn btn-block" href="{{more_url}}">更多</a>
    {%endif%}
    </div><!--end of weibo list-->



</div>
{%endblock%}
{%block custom_style%}
  {%if theuser and theuser.theme !="default"%}
    <link href="/static/theme/{{theuser.theme}}/style.css" rel="stylesheet">
  {%endif%}
{%endblock%}