{%extends 'base.html'%}

{%block content%}

<div id="weibo_notify">
<br/>
</div><!--end of weibo notify-->

<div id='weibo_list'>
    {%set floor=1%}
    {%for tweet in tweets%}
        {%include 'include/show_tweet.html'%}
        {%set floor=floor+1%}
    {%endfor%}
    {%if tweets|length >=15%}
    <a class="btn btn-block" href="{{more_url}}">更多</a>
    {%endif%}
    {%if tweets|length ==0 %}
      <div class="well text-center">没有搜索到相应结果，请重试。</div>
    {%endif%}
    
</div><!--end of weibo list-->
{%endblock%}

{%block sidebar%}
    {%include 'sidebar.html'%}
        
{%endblock%}






