{%extends 'base.html'%}

{%block singlepage%}
<div class="offset1 span10">
    <div id="follower_center">
      <div id="legend">
        <legend class=""> {%if user == theuser%}你{%else%}{{theuser.nickname}}{%endif%}关注了{{theuser.following_counter}}个人
        </legend>
      </div>
      {%for follower in followed_users%}
      <div class="offset1 span10 people_in_list">
          <div class='span2'>
            <a href="#" class="">
              <img data-src="holder.js/100x100" data-placement="right" class='img-polaroid'>
            </a>
          </div>
          <div class="span10">
            <a href="/personal_center/{{follower.id}}">{{follower.nickname or ""}}</a> {{follower.gender or ""}} 地址：{{follower.addr or "未填写"}}
          </div>
          <div class="span10">
            <a href="/useraction/followed_users?userid={{follower.id}}">关注
              <span class="badge badge-info">{{follower.following_counter}}</span>
            </a>|
            <a href="/useraction/followers?userid={{follower.id}}">粉丝
              <span class="badge badge-info">{{follower.follower_counter}}</span>
            </a>|
            <a href="/personal_center/{{follower.id}}">微博
              <span class="badge badge-info">{{follower.tweet_counter}}</span>
            </a>
          </div>
          <div class="span10">
            {{follower.slogan or ""}}
          </div>
          <div class="span10">
            {%if user and user.is_following(follower.id)%}
              <button class='btn btn-link follow-btn' onclick="toggle_follow('{{follower.id}}',this)">取消关注</button>
            {%else%}
              <button class='btn btn-link follow-btn' onclick="toggle_follow('{{follower.id}}',this)">关注一下</button>
            {%endif%}
          </div>
          
          
      </div>
      {%endfor%}
    </div>




</div>
{%endblock%}