{%if user%}
  {%if user.notify_counter ==0%}
    <span class="badge">0</span>
  {%else%}
    <a href="/useraction/message_center"><span class="badge badge-important">{{user.notify_counter}}</span></a>
  {%endif%}

<div class="btn-group">
    <a class="btn " href="#"><i class="icon-user"></i> {{user.nickname}}</a>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/useraction/setting"><i class="icon-wrench"></i> 设置</a></li>
        <li><a href="/useraction/personal_center"><i class="icon-user"></i> 个人中心</a></li>
        <li><a href="/useraction/message_center"><i class="icon-envelope"></i> 消息中心</a></li>
        <li class="divider"></li>
        <li><a href="/useraction/logout"><i class="i"></i> 登出</a></li>
    </ul>
</div>
{%else%}
<div>
<a class='btn btn-link' href='/login'>登入</a>
<a class='btn btn-link' href='/register'>注册</a>
</div>


{%endif%}