
{% macro make_tweet(user,tweet, content, comment = "", floor = 1) -%}
<div class='tweet row-fluid' tweetid='{{tweet.id}}' floor={{floor}}>
    <div class='tweet_poster_atvatar span1'>
        <a href="#" class="">
            <img data-src="holder.js/50x50" data-placement="right" class='img-polaroid'>
            {%if user!=tweet.poster%}
              {%if user and user.is_following(tweet.poster.id)%}
              <button class='btn btn-link follow-btn' onclick="toggle_follow('{{tweet.poster.id}}',this)">取消关注</button>
              {%else%}
              <button class='btn btn-link follow-btn' onclick="toggle_follow('{{tweet.poster.id}}',this)">关注一下</button>
              {%endif%}
            {%endif%}
        </a>
    </div>
    <div class='tweet_content span11'>
        <p><a href='/user/{{tweet.poster.nickname}}'>{{tweet.poster.nickname}}</a></p>
        <p class='over-hidden'>{{comment}}
        </p>
        <p class='over-hidden'>{{content}}
        </p>

        <span class='tweet_info'>
            <small class='label label-info' title='{{tweet.create_date}}'>{{tweet.create_date|timesince}}</small> |
            <a href=''><small> 举报</small></a>
        </span>

        <span class='tweet_action pull-right'>
            <a href='javascript:void(0);' onclick="retweet('{{tweet.id}}',{{floor}})"><small class='label label-info'>转发({{tweet.retweet_counter}})</small></a>
            <a href='javascript:void(0);' onclick='show_tweet_comment("{{tweet.id}}",{{floor}})'>
                <small class='label label-info'>评论({{tweet.comment_counter}})</small>
            </a>
        </span>

        <div class='tweet_comment'>
            <input class='input-block-level'type=text placeholder="评论" />
            <button class='btn btn-warning btn-mini pull-right' onclick='send_tweet_comment("{{tweet.id}}")'>评论</button>

            <div class='tweet_comment_list'>
                {%for comment in tweet.comments%}
                    {%include 'include/show_comment.html'%}
                {%endfor%}
            </div>
        </div>
    </div>
</div><!--tweet-->
{%- endmacro %}