<!-- Modal -->
<div id="_avatar_upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>上传头像</h3>
  </div>
  <div class="modal-body">
    <div class="well dropzone text-center">
      <p>把图片拖到这里</p>
    </div>
    <div class="file-chooser">
        <input type="file" name="files" multiple="" id='avatart_addfile'>
        <div class="progress progress-striped">
          <div class="bar" id="upload-process"style="width: 0%;"></div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  </div>
</div>