<!-- Modal -->
<div id="_private_message_view" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="_pm_title"></h3>
  </div>
  <div class="modal-body">
    <p id="_pm_content"></p>
    <div id="original_tweet"></div>
  </div>
  <div class="modal-footer">
    <button id="_pm_sender" class="btn btn-primary">回复</button>
  </div>
</div>