


<div class="retweet row-fluid">

<div class='tweet row-fluid' tweetid='{{tweet.id}}'>
    <div class='tweet_poster_atvatar span1'>
        <a href="#" class="">
            {%if user.is_following(tweet.poster.id)%}
            <img data-src="holder.js/50x50" data-placement="right" data-toggle="tooltip"
                data-original-title="<a href='javascript:void(0)'onclick='toggle_follow({{tweet.poster.id}}, this)'class='btn btn-info follow-btn'>取消关注</a>" data-html="true" class='img-polaroid'>
            {%else%}
            <img data-src="holder.js/50x50" data-placement="right" data-toggle="tooltip"
                data-original-title="<a href='javascript:void(0)'onclick='toggle_follow({{tweet.poster.id}}, this)'class='btn btn-info follow-btn'>关注</a>" data-html="true" class='img-polaroid'>
            {%endif%}
        </a>
    </div>
    <div class='tweet_content span11'>
        <p><a href='/user/{{tweet.poster.nickname}}'>{{tweet.poster.nickname}}</a></p>

        <p class='over-hidden'>{{tweet.content}}
        </p>

        <span class='tweet_info'>
            <small class='label label-info' title='{{tweet.create_date}}'>{{tweet.create_date}}</small> |
            <a href=''><small> 举报</small></a>
        </span>

        <span class='tweet_action pull-right'>
            <a href='javascript:void(0);'><small class='label label-info'>转发({{tweet.retweet_counter}})</small></a>
            <a href='javascript:void(0);' onclick='show_tweet_comment({{tweet.id}})'>
                <small class='label label-info'>评论({{tweet.comment_counter}})</small>
            </a>
        </span>

        <div class='tweet_comment'>
            <input class='input-block-level'type=text placeholder="评论" />
            <button class='btn btn-warning btn-mini pull-right' onclick='send_tweet_comment({{tweet.id}})'>评论</button>

            <div class='tweet_comment_list'>
                {%for comment in tweet.comments%}
                    {%include 'include/show_comment.html'%}
                {%endfor%}
            </div>

        </div>
    </div>
</div>
</div><!--retweet-->
