<div class='tweet_comment_shower row-fluid'>
    <div class='span1'>
        <a href="#" class="">
            <img data-src="holder.js/30x30" class='img-polaroid'>
            <p class="text-center">{{comment.commenter.nickname}}</p>
        </a>
    </div>

    <div class='span11'>
        <p class='over-hidden'>{{comment.content}}</p>
        <button class='btn btn-link pull-right' onclick="comment_comment(this,'{{comment.commenter.nickname}}')"><small>回复</small></button>
    </div>
</div>