<form class="form-horizontal" action='/useraction/user_info_setting' method="POST">
<input type=hidden name="userid" value="{{user.id}}">
  <fieldset>
    <div id="legend">
      <legend class="">个人信息设置</legend>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="addr">地址</label>
      <div class="controls">
        <input type="text" id="addr" name="addr" placeholder="地址" class="input-xlarge" value="{{user.addr or ''}}">
        <p class="help-block"></p>
      </div>
    </div>
    
     <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">生日</label>
      <div class="controls">
          <input type="text" id="birthday" name="birthday" placeholder="格式:1900-03-23" class="input-xlarge" value="{{user.birthday or ''}}">
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="gender">性别</label>
      <div class="controls">
        <input type="text" id="gender" name="gender" placeholder="性别" class="input-xlarge" value="{{user.gender or ''}}">
        <p class="help-block"></p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="blog">博客地址</label>
      <div class="controls">
        <input type="text" id="blog" name="blog" placeholder="博客地址" class="input-xlarge" value="{{user.blog or ''}}">
        <p class="help-block"></p>
      </div>
    </div>
    
    
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="slogan">个性签名</label>
      <div class="controls">
        <input type="text" id="slogan" name="slogan" placeholder="个性签名" class="input-xlarge" value="{{user.slogan or ''}}">
        <p class="help-block"></p>
      </div>
    </div>
    
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="university">大学</label>
      <div class="controls">
        <input type="text" id="university" name="university" placeholder="大学" class="input-xlarge"  value="{{user.university or ''}}">
        <p class="help-block"></p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary">保存</button>
      </div>
    </div>
  </fieldset>
</form>